<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Greenfield Event Calendar</title>
    <meta name="description" content="A collection of all the events happening in Greenfield Massachusetts, updated daily, including dance, shows, concerts, plays, and anything else going on.">
    <meta name="viewport" content="width=device-width">
    <link rel="icon" type="image/x-icon" href="/static/img/favicon-32.png">
    <link rel="stylesheet" href="/static/style.css">
    {% block style %}{% endblock %}
</head>
<body>
    <div class="flex-wrapper">
        <div class="upper">
            {% include 'components/header.html' %}
            {% include 'components/nav.html' %}
            {% block content %}{% endblock %}
        </div>
        {% include 'components/footer.html' %}
    </div>
</body>
{% block js %}{% endblock %}

<script>
    // Reload the page if the tab regains focus and it's older than today
    document.addEventListener("visibilitychange", (ev) => {
        const d = new Date();
        const e = new Date('{{ date }}')
        if (d.getDate() !== e.getDate()) {
            window.location.reload();
        }
    });
</script>
</html>
